[2017-07-26 04:29] Munksey opened #3 "XHR.timeout not implemented."
There was a ticket on sinon from a while back: https://github.com/sinonjs/sinon/issues/431. I attempted to fix this with the following PR: https://github.com/sinonjs/sinon/pull/1495/files.

It'd be pretty easy for me to port the PR, since the files haven't changed much.

My thought was to only set the timeout functionality if an instance of global XMLHttpRequest has the timeout variable and if `se

[2017-07-26 06:15] mroderick commented on #3
That would be a most welcome contribution 💯

[2017-08-07 13:52] mgroenhoff opened #5 "Add text-encoding as dependency"
In [lib/fake-xhr/index.js#L3](https://github.com/sinonjs/nise/blob/master/lib/fake-xhr/index.js#L3) you require text-encoding but you have no dependency on it.

[2017-08-08 02:59] loliconer opened #7 "FakeServer can't support fetch api"
When using fetch api to request a url, the fake server can't match the url and the browser returns 404

[2017-08-12 10:14] #5 closed

[2017-08-12 10:32] fatso83 commented on #7
You can use an existing library, like [fake-fetch](https://www.npmjs.com/package/fake-fetch), or you can provide this project with a pull request that adds the functionality :smiley:

[2017-08-12 10:51] fatso83 opened #8 "Default route matched in addition to more specific route"
Moved from sinonjs/sinon#1528.

Running the test case where only the `/foo` route should be matched results in both being matched. To reproduce:

[code]

<details>
<summary>test.js</summary>

[code]

</details>

[2017-08-12 11:50] fatso83 commented on #8
This error has been around since the very start. It has been verified to exist in Sinon 1.4 - 5 years ago.

[2017-08-12 14:16] fatso83 commented on #8
You should follow this issue, @n1ywb. If you have any possibility to dive into this, feel free to do so, as none of the maintainers of the main sinon package uses this functionality all that much. All you need to do is look through how requests are being matched. I am guessing the fix is not all that hard (famous last words) :stuck_out_tongue:

[2017-08-13 05:29] loliconer commented on #7
Thanks! Now that there is already a library that supports Fetch, it's not so necessary to add it here, though it is better to have the functionality.

[2017-08-22 07:06] #7 closed

[2017-08-24 10:56] lexatnet commented on #3
+1

[2017-08-25 14:04] rogierschouten opened #9 "Publish version 1.1.0"
I wanted to report the same issue as #5 but I found out it is already fixed. Could you please do NPM publish of 1.0.2?

[2017-08-30 09:46] fatso83 commented on #9
sure, will do asap

[2017-08-30 09:51] #3 closed

[2017-08-30 10:05] fatso83 commented on #9
@mroderick Can you give me publish rights on NPM? Or add me to the right organization or something (maybe we should namescope the packages under `sinon/` - nah, different discussion)?

[2017-09-14 14:25] rogierschouten commented on #9
ping

[2017-09-16 06:00] mroderick commented on #9
I've added everyone in the @sinonjs/core group

[code]

[2017-09-18 08:47] fatso83 commented on #9
Published 1.1.0 now on npm.

[2017-09-18 08:47] #9 closed

[2017-09-28 00:41] griest024 opened #10 "Add nise.js as module entry point"
`import 'nise'` throws `Uncaught ReferenceError: global is not defined`.

[2017-09-28 11:44] fatso83 commented on #10
This description is way too brief. There is nothing showing that this is a problem. Can you point to a description somewhere where this is a problem, or give some reproducible way of establishing that the current way is not working?

[2017-09-28 11:45] fatso83 commented on #10
I think we can make a reproducible case if looking at [this comment](https://github.com/domenic/sinon-chai/pull/111#issuecomment-332672669) from domenic/sinon-chai#111.

[2017-09-29 03:21] griest024 commented on #10
Sorry for the short description. Basically, when the entry point is `lib/main.js`, I get a
[code]

Unfortunately I can't exactly say what causes this, since its a dependency that is importing nise, I'm not using it directly.

[2017-09-29 07:02] fatso83 commented on #10
Ah, so it is a Webpack issue. That was the essential missing bit.

[2017-09-29 21:45] griest024 commented on #10
Since `module` isn't actually an npm option, I don't think it could break anything (famous last words) to add it to `package.json`. It does fix the issue though.

[2017-09-30 16:20] griest024 commented on #10
@fatso83 after more research, I found that this error is a result of calling `sinon.spy()`

[2017-10-03 05:13] #10 closed

[2017-10-09 09:39] tarjei opened #13 "fakeServer should enable triggering progress events."
Hi, AFAIK there is no way to get the fake server to trigger progress events during an upload.

It would be very useful this was possible in a simple way. Maybe:
[code]

* Sinon version :  4.0
* Other libraries you are using: Mocha, Karma

**What did you expect to happen?

I would expect the progress event to fire for all requests.

[2017-10-18 09:51] jdbevan opened #16 "I'd love to know which mocked/stubbed responses didn't get sent"
I've got some non-trivial unit tests that may trigger multiple AJAX requests. I usually mock out the various responses I should handle in my tests and then call the function that will trigger those requests.

At the end of the test I'd like to be able to know if any or a particular response didn't get sent. Similar to https://github.com/node-nock/nock#pendingmocks

This would be useful to test not

[2017-10-22 07:36] maoberlehner opened #17 "Does not work with latest version of `just-extend`"
This change: https://github.com/angus-c/just/commit/886a4ff3dd77bb61695dc982e98533f6ae1e19a1#diff-3333af3f3ec7ec75ad2ea0a69dc86bbbR38 breaks this https://github.com/sinonjs/nise/blob/master/lib/fake-xhr/index.js#L651

As far as I can see, it is not possible anymore to use `extend()` with a function as its first parameter.

[2017-10-22 15:35] panitaxx commented on #17
If you use yarn add the following line for a quick fix:

"resolutions": {
    "**/nise/just-extend": "1.1.22"
  }

That will pin the version to 1.1.22. Don't know if it works on npm.

[2017-10-23 09:10] #17 closed

[2017-10-31 20:51] rgroothuijsen commented on #8
Did a bit of testing in regards to this one, and initially thought that the cause was less specific routes being matched. However, if you change the default route to "/" for example, it doesn't happen. It's specific to the default responder, which has a null response URL, and in this case the code always returns that it's a match and calls the response. Normally the response list loop would stop a

[2017-11-01 09:02] fatso83 commented on #8
@rgroothuijsen, as you can see from [the history in the Sinon repo](https://github.com/sinonjs/sinon/blob/v1.17/lib/sinon/util/fake_server.js), most stuff involving the fake server has been done by other people than the current maintainers (originally @cjohansen), so it's hard to guess at design decision without digging properly into `git blame`, commit messages and discussions on the pull request

[2017-11-01 18:00] rgroothuijsen commented on #8
I see, I might look into that sometime then. For the record, the "evaluating the response" part I was referring to was [this line](https://github.com/sinonjs/nise/blob/master/lib/fake-server/index.js#L79), which confused me a bit as the match() function can apparently return either true, false, or a response object.

[2017-11-14 07:55] betalb opened #19 "The same handler registered twice with addEventListener should be discarded"
According to documentation from MDN https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener, if listener is registered more than once it should be discarded. I haven't found any specific details on how to translate `with the same parameters` in regards to XHR. Event type and listener are definitely part of this, and seems that `options.once` should be added to equality compar

[2017-11-15 19:41] elijahiuu opened #20 "respondWith with a function"
I tried passing a function into server.respondWith() but i think there is a bug in processing response results.

here's my call:

[code]

The problem seems to be here:
node_modules/nise/lib/fake-server/index.js:261
`request.respond(response[0], response[1], response[2]);`

Instead it should do something like this:
[code]

[2018-01-09 14:42] fatso83 commented on #20
Can you make a failing test that will pass if it is correct? It seems weird if this core functionality should suddenly break, so I suspect wrong usage. [From the docs](https://github.com/sinonjs/nise#serverrespondwithurlregexp-response):

[code]

[2018-01-14 16:55] betalb commented on #19
I think that this issue is still there, I see that `addEventListener` implementation in https://github.com/sinonjs/nise/blob/master/lib/event/event-target.js just pushes new listener to the list without checking it's presense

[2018-01-14 17:11] betalb opened #23 "Header composition in setRequestHeader should ignore header name case"
Currently if `setRequestHeader` is called twice with the same header name, value will be combined into one comma delimited list. But if header names passed to `setRequestHeader` differ in case, it will produce 2 separate headers being set.

According to spec composition process should ignore case of header name:
* https://xhr.spec.whatwg.org/#the-setrequestheader()-method
* https://fetch.spec.what

[2018-01-15 21:41] mroderick commented on #19
Let's pin this for awhile, and see if it can attract some attention. Pull requests welcome

[2018-01-20 13:12] #13 closed

[2018-01-20 13:12] #8 closed

[2018-01-22 15:03] n1ywb commented on #8
closing bug tickets automatically is a great way to ensure that bugs are never fixed

[2018-01-22 16:27] mantoni commented on #8
@n1ywb It's also a great way to make sure the issue tracker is relevant. We know that this comes at the price of actual issues not being fixed. If you want to help out and send a PR for this, we're still up for merging. If you have more information to provide to help somebody else fix it, we can reopen. Thank you for your help and understanding.

[2018-01-26 19:31] mroderick opened #25 "FakeXMLHttpRequest falsly sets responseXML"
---

Migrated from https://github.com/sinonjs/sinon/issues/1678
Originally created by @Ninerian on *Fri, 26 Jan 2018 14:41:19 GMT*

---
* Sinon version : 4.2.1
* Environment: Node 9.4.0, Chrome,  Firefox, Safari
* Other libraries you are using: karma, chai, mocha

**What did you expect to happen?**
When a invalid xml file is loaded with XMLHttpRequest, the responseXML is null.

**What actually hap

[2018-01-29 08:57] akazakou opened #27 "Error: Cannot find module './event'"
After an update up to 1.2.1 version I found that error message:

[code]

Believe that happens because directory `lib/event` doesn't contain 'event.js' module

[2018-01-29 08:58] Xylem opened #28 "Version 1.2.1 is missing code on npm"
Version 1.2.1 of nise is broken - there are missing files in the package on npm, eg. all contents of `lib/events` is missing, except for `index.js`.

[2018-01-29 09:06] akazakou commented on #28
Duplicate #27

[2018-01-29 09:06] akazakou commented on #27
Looks like package in NPM repository contains broken build https://registry.npmjs.org/nise/-/nise-1.2.1.tgz

[2018-01-29 09:10] Flarna commented on #27
see #26

[2018-01-29 09:17] #28 closed

[2018-01-29 09:18] Xylem commented on #28
Closed the duplicate.

[2018-01-29 10:02] hacdias commented on #27
Same here.

[2018-01-29 10:02] andreylushchick-planorama commented on #27
+1, we're experiencing same issue

[2018-01-29 10:06] bajzarpa commented on #27
+1

[2018-01-29 10:07] szll commented on #27
+1

[2018-01-29 10:08] JonJagger commented on #27
+1, me too. In a Dockerfile I have
RUN npm install -global mocha chai sinon sinon-chai
and the diagnostic you get is
npm WARN deprecated nise@1.2.1: This version misses certain files. See #26

[2018-01-29 10:20] f-roland commented on #27
+1 to remove this version from the registry and put an end to broken builds without having to patch our code to manually require this lib with the correct version

[2018-01-29 10:23] afzalSH commented on #27
facing same issue!

[2018-01-29 10:23] mroderick commented on #27
I am looking into this

[2018-01-29 10:23] 3LOK commented on #27
Ahhh!!!! +1.... fast!

[2018-01-29 10:24] f-roland commented on #27
@mroderick can you please remove the version from npm in the meantime ?
the deprecation message doesn't stop builds to break 🤕

[2018-01-29 10:25] afzalSH commented on #27
+1

[2018-01-29 10:26] gmukul01 commented on #27
+1 I am using sinon for unit testing in react. And as sinon uses this package internally i also got the same issue.
 Cannot find module './event' from 'index.js'

      at Resolver.resolveModule (node_modules/jest-runner/node_modules/jest-resolve/build/index.js:191:17)
      at Object.<anonymous> (node_modules/nise/lib/event/index.js:4:12)

[2018-01-29 10:28] mroderick commented on #27
I have unpublished `nise@1.2.1` as that was clearly not a good build. That should fix the issue for everyone.

This was caused by #26, which I merged this morning. I am investigating how to make a good build, and will publish `nise@1.2.2` later.

[2018-01-29 10:34] JonJagger commented on #27
Yup that's fixed it for me. Thanks

[2018-01-29 10:36] cdouine39 commented on #27
@mroderick thanks for being so reactive !! :)

[2018-01-29 10:37] 7etrahedral commented on #27
thumbs up.

[2018-01-29 10:47] mroderick commented on #27
@fatso83 has already fixed it by publishing `sinon@1.2.2` 👍

[2018-01-29 10:48] mroderick commented on #27
This has been fixed with https://github.com/sinonjs/nise/commit/5dd5b007036d092a44b120bcb003f665f042a2ee

[2018-01-29 10:48] #27 closed

[2018-02-09 10:53] mnahkies commented on #25
When running tests in node using JSDom then I believe this is a deficiency in https://github.com/jindw/xmldom which appears to be a dead project.

However, nise does not seem to check for parsererror tags, which would normally be returned in an error document by a browser (ref: https://developer.mozilla.org/en-US/docs/Web/API/DOMParser) - rather than an exception being thrown as nise seems to expe

[2018-02-11 09:35] mroderick commented on #19
This has been fixed in #31 and published as `nise@1.2.5`. I am closing this issue.

If you want to work on `options.once`, please create a new issue for that.

Thanks

[2018-02-11 09:35] #19 closed

[2018-02-12 09:44] mnahkies opened #33 "XHR: Content-Type clobbered"
---

Migrated from https://github.com/sinonjs/sinon/issues/607
Originally created by @terinjokes on *Thu, 20 Nov 2014 00:47:58 GMT*

---
FakeXMLHttpRequest's [`send` method](https://github.com/cjohansen/Sinon.JS/blob/239d013e61383ae9c6c393bec38b776f5baee939/lib/sinon/util/fake_xml_http_request.js#L414-L438) currently clobbers the "Content-Type" header if set, by removing anything after the first "

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-357455796
Originally created by @mroderick on *Sat, 13 Jan 2018 18:26:00 GMT*

---
Let's investigate this further

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-357452293
Originally created by @moll on *Sat, 13 Jan 2018 17:36:06 GMT*

---
I suspect that is still the case 2 years later unless someone can confirm it's definitely not.

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-364641597
Originally created by @fatso83 on *Sat, 10 Feb 2018 10:24:50 GMT*

---
@mnahkies, preferably, yes. If you would do the honours it saves us the trouble :-) Please refer to this bug to keep a history.

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-70749165
Originally created by @mroderick on *Tue, 20 Jan 2015 22:38:18 GMT*

---
@terinjokes Thank you for reporting this.

Does this behaviour differ from what out-in-the-wild implementations of XMLHttpRequest? Do they all behave the same way?

By real, do you mean IE10 and onwards? ;) [IE9 and below doesn't have the `Fo

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-131007934
Originally created by @dstillman on *Fri, 14 Aug 2015 07:42:37 GMT*

---
Not sure why this was marked as a feature request. This is clearly a bug, as @terinjokes's example shows. This requires ";charset=utf-8" to be appended to all tests that check the sent Content-Type header. (Even "text/plain" shouldn't have a

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-70767984
Originally created by @terinjokes on *Wed, 21 Jan 2015 01:18:21 GMT*

---

Just now I've tested the behavior of the following browsers, which were at my easy disposal: IE9, IE10, Chrome 39, Firefox 34, and Safari 8. I created a new XHR object, and set the "Content-Type" header:

[code]

In every case, the response

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-364641719
Originally created by @mroderick on *Sat, 10 Feb 2018 10:27:05 GMT*

---
@mnahkies that would be great, thank you!

I've used this with success in the past: https://github.com/buildo/gh-issue-mover

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-163907014
Originally created by @moll on *Fri, 11 Dec 2015 10:47:57 GMT*

---
This is still the case as of Sinon v1.17.2.

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-107033149
Originally created by @moll on *Sat, 30 May 2015 12:22:59 GMT*

---
Just experienced this, too, when using Sinon and its XHR mock on Node. It also lacks the `FormData` global.

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-357441501
Originally created by @stale[bot] on *Sat, 13 Jan 2018 15:00:47 GMT*

---
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-02-12 09:44] mnahkies commented on #33
---

Migrated from https://github.com/sinonjs/sinon/issues/607#issuecomment-364573658
Originally created by @mnahkies on *Fri, 09 Feb 2018 21:29:33 GMT*

---
@mroderick should this move to the nise tracker?

[2018-02-12 11:28] fatso83 commented on #33
Thank you!

[2018-02-12 12:58] betalb opened #34 "Support options object as third argument to EventTarget (add/remove)Eventlistener"
EventTarget methods: addEventListener and removeEventListener can optionally support options object https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener

For XHR objects `once` flag seems to be the only one that makes sense, and major browsers support it.

This is follow-up for #19

[2018-02-26 05:14] darrennolan opened #38 "FakeXMLHttpRequest.defake doesn't reflect enough of a real event"
Hi,

Recently come across a need to use `xhr.useFilters = true;` where we allow real requests to go through, and only mock parts that shouldn't be allowed.

However I've tracked down an issue where when we are "defaking" a request, we're missing some more of the real-ish type properties on the event.

Specifically for us, `currentTarget` is not beside `target`.

`fakeXhr.onreadystatechange.call(fa

[2018-02-26 09:19] #23 closed

[2018-02-27 08:45] #38 closed

[2018-03-01 08:33] #34 closed

[2018-03-01 10:16] mroderick opened #41 "Document improvements from #35"
We need to update the documentation to include the changes made in #35

[2018-03-01 10:16] mroderick commented on #41
@betalb would you be up for contributing some documentation for these changes?

[2018-03-17 14:44] #20 closed

[2018-03-17 20:51] maoberlehner opened #44 "Proposal: remove `text-encoding` dependency"
Although this package is most likely only rarely used in the browser, and it is (hopefully) never used on a live site, I'm still concerned by the huge overhead the `text-encoding` dependency adds. The package size is about 500kb with `text-encoding` and 40kb without.

I'm using this package to fake XHR requests in automated acceptance tests with Nightwatch.js and although loading is not too much o

[2018-03-19 08:05] mroderick commented on #44
Thank you for your contribution!

`text-encoding` is indeed a heavy dependency. If we can reduce the amount of data that needs to be transferred and parsed, without causing problems for users, then everyone wins 🚀

Have you done any measurements of the impact using your fork has, over the unmodified `nise`?

Suggestions on how to make this happen would be most welcome

[2018-04-05 16:33] #16 closed

[2018-04-13 18:49] moll commented on #33
I've not tried, but I assume this issue would've been closed earlier if it were fixed.

[2018-04-19 11:56] ehmicky opened #46 "Add CHANGELOG file"
It is nice for people who follow this project.

[2018-04-20 15:54] stefanmeschke opened #47 "Intercept Requests"
Hey,

First of all: I really like the nise fake server.

Is it possible to intercept and manipulate a request? I tried several approaches.

My last approach was to intercept a request, make the same call with the fetch api and return the result from the fetch api as mock. Please see the following code snippet:

[code]
But I get the following error: **Error: INVALID_STATE_ERR - 4**.
I get the same

[2018-05-09 06:36] revathskumar opened #49 "Missing Request headers for requests pass through via fakeServer"
The headers like `Cookie` are missing for the requests which pass though the `fakeServer` and filter.
This is causing the requests to lose the sessions.

[code]

[2018-05-25 08:47] #44 closed

[2018-05-31 08:04] fatso83 opened #51 "Regression when $.ajax() XHR includes headers"
_From @scottohara on May 31, 2018 7:10_

**Describe the bug**
In `sinon@5.0.7`, using jQuery's `$.ajax()` to fetch a _non-existent_ URL from `fakeServer` returns a `404 Not Found` response, as expected.

In `sinon@5.0.8` and later, the same fetch now returns a `0` status.

**To Reproduce**
1. `npm install sinon@5.0.7`, and run the tests below
2. `npm install sinon@5.0.8`, and re-run the tests agai

[2018-05-31 08:04] fatso83 commented on #51
Probably happened in 082f8e8ab3f8b5d6332550dd05c5b3c6fed82d91, going from `nise@1.2.0` to `nise@1.3.3`. Moving this issue over to the `nise` subproject.

[2018-05-31 08:04] fatso83 opened #52 "Regression in v5.0.8+ fakeServer when $.ajax() XHR includes headers"
_From @scottohara on May 31, 2018 7:10_

**Describe the bug**
In `sinon@5.0.7`, using jQuery's `$.ajax()` to fetch a _non-existent_ URL from `fakeServer` returns a `404 Not Found` response, as expected.

In `sinon@5.0.8` and later, the same fetch now returns a `0` status.

**To Reproduce**
1. `npm install sinon@5.0.7`, and run the tests below
2. `npm install sinon@5.0.8`, and re-run the tests agai

[2018-05-31 08:04] fatso83 commented on #52
Probably happened in 082f8e8ab3f8b5d6332550dd05c5b3c6fed82d91, going from `nise@1.2.0` to `nise@1.3.3`. Moving this issue over to the `nise` subproject.

[2018-05-31 08:04] fatso83 commented on #52
This issue was moved to sinonjs/nise#51

[2018-05-31 08:05] fatso83 commented on #52
Clicked the Move button in [the issue mover](https://github-issue-mover.appspot.com/) twice ..

[2018-05-31 08:05] #52 closed

[2018-05-31 08:07] fatso83 commented on #51
@scottohara, if you get a chance to do a [git bisect](https://github.com/fatso83/git-bisect-scripts/blob/master/full-template.sh) to track down which commit introduced this in `nise` it would be very helpful.

[2018-05-31 23:16] scottohara commented on #51
Thanks @fatso83.

`git bisect` shows the error is in commit https://github.com/sinonjs/nise/commit/d0032f741ac995ed33b80a06a04e9b7ecf2ee00d

This is the only change between v1.3.2 and v1.3.3.

Further analysis shows that the error only occurs if the value of the header being set is numeric

It looks like there's already a PR with a fix for this very issue (https://github.com/sinonjs/nise/pull/48);

[2018-06-01 06:50] fatso83 commented on #51
Great find! Sometimes PRs slip throug the cracks :-) Thank you!

[2018-06-01 09:03] fatso83 commented on #51
I closed #48 because it's incorrect to supply a non-string value when setting a header value. That means supplying `headers: {"X-FOO": 1}` is invalid and should (?) throw an error. The alternative would be to either ignore the error and set the value to `""` (empty string) or stringify the value. The latter can give unexpected results, so I'd rather be strict about this. I am thinking we should "f

[2018-06-01 09:04] fatso83 commented on #51
So, it's not the case that supplying headers is wrong, it's supplying invalid values that fails. In that respect, this isn't a bug, but we should aim to improve the feedback.

[2018-06-01 09:04] #51 closed

[2018-06-01 09:05] fatso83 commented on #46
We should be able to fix this by using `git-extras` like we do in `lolex`, `sinon` and the other projects.

[2018-06-01 09:06] fatso83 commented on #25
Should have been fixed by #50.

[2018-06-01 09:06] #25 closed

[2018-06-01 09:07] fatso83 commented on #25
@mnahkies Want to check that this works as you think before we cut a new release?

[2018-06-01 09:41] fatso83 commented on #51
See PR #53

[2018-06-01 09:49] #46 closed

[2018-06-01 09:50] fatso83 commented on #46
Feel free to update the changelog with info on older releases

[2018-06-01 19:44] mnahkies commented on #25
@fatso83 sorry I'm travelling for the next month or so with limited computer access. I had a glance over the pull request and it looked fine to me

[2018-06-01 22:48] bafolts opened #54 "Fake XHR XML document parser fails to parse."
It looks like there is an error attempting to determine what a parse error may look like.

https://github.com/sinonjs/nise/blob/master/lib/fake-xhr/index.js#L345

I have a situation running with a DOMParser stub in node where the document `INVALID` does not return any elements with a parseerror tag name. In this situation my XML is failing to parse even though my XML is valid. The check for `getEl

[2018-06-02 07:16] #54 closed

[2018-06-08 15:33] fatso83 opened #56 "Missing documentation on how to create a fake server for Node.js applications"
_From @bennyn on March 26, 2017 15:34_

**Sinon version:** Sinon v2.1.0

**Environment:** Node.js v7.7.3

**Other libraries you are using:**
- [Jasmine](https://github.com/jasmine/jasmine)
- [request](https://github.com/request/request)

I always used Sinon in combination with Jasmine and a Karma test runner (to execute Browser tests). Now I want to use Sinon in a Node.js environment and I want to

[2018-06-08 15:33] fatso83 commented on #56
@v0lkan Please don't dump errors without context in a random issue. File a new issue if you have a reproducible case. Deleting your comment.

[2018-06-08 15:33] fatso83 commented on #56
_From @stale[bot] on January 13, 2018 12:45_

This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-06-13 13:51] senaev opened #57 "Cannot parse responseXML in IE11"
this code
`new DOMParser().parseFromString("INVALID", "text/xml")`
https://github.com/sinonjs/nise/blob/956a4959a30c5f60bec925cfdc1cab1bd39fa9f4/lib/fake-xhr/index.js#L346

throws sync error in IE11, so responseXML became empty
https://github.com/sinonjs/nise/blob/956a4959a30c5f60bec925cfdc1cab1bd39fa9f4/lib/fake-xhr/index.js#L360

[2018-06-16 05:08] #57 closed

[2018-06-26 17:52] #47 closed

[2018-06-26 20:45] fatso83 commented on #47
Usage questions are best answered on Stack Overflow I am afraid ... I wouldn't know.

[2018-07-13 12:30] mad-gooze opened #59 "filters are not cleared on restore"
Hi!

If you add a filter, call `.restore()` on fakeXhr and call `useFakeXMLHttpRequest()`, previously added filters are not cleared. Is that a bug or a desired behaviour?

[2018-07-15 19:54] #49 closed

[2018-07-16 07:34] Omar2002 opened #60 "readyState in onreadystatechange listeners will never equal to 4 after defake request"
Hi.

[code]

readyState in defaked request is being setted in stateChange handler
https://github.com/sinonjs/nise/blob/master/lib/fake-xhr/index.js#L225
that fires after other handlers.

[2018-07-18 19:32] mroderick commented on #59
@mad-gooze could you provide an example to make this easier to understand?

[2018-07-27 11:58] mpaluchowski commented on #8
The short answer to the original issue from @fatso83 is, the code will behave as you expect if you write the "foo responder" as:

[code]

Notice I added an explicit `return true;` in the end. The thing is, the `xhr.respond(...)` function doesn't return anything. See `/lib/fake-server/index.js`, line 227. This means your `respondWith` callback doesn't return anything, effectively it's a void functi

[2018-08-07 19:18] mroderick opened #61 "Filtered synchronous FakeXMLHttpRequest throw Exception"
---

Migrated from https://github.com/sinonjs/sinon/issues/1873
Originally created by @sebcanonica on *Wed, 01 Aug 2018 17:16:00 GMT*

---
**Symptom**
Using a fake server, if I try to filter a request (to let it go through normally) which is sent synchronously, then sinon throw an exception:

In Chrome
Uncaught DOMException: Failed to set the 'responseType' property on 'XMLHttpRequest': The respon

[2018-08-07 19:18] mroderick commented on #61
---

Migrated from https://github.com/sinonjs/sinon/issues/1873#issuecomment-411144828
Originally created by @lddubeau on *Tue, 07 Aug 2018 17:52:58 GMT*

---
I confirm having the same problem if I run Sinon 6. The problem goes away if I revert to the latest in the 5.x series.

The change was introduced by this PR in [nise](https://github.com/sinonjs/nise/pull/45), which then made its way to Sinon

[2018-08-14 09:01] mroderick commented on #60
This has been fixed with #62, which was published to NPM as `nise@1.4.3`

[2018-08-14 09:01] #60 closed

[2018-08-22 11:05] mass85 commented on #56
Am I correct that this is not a missing documentation but rather a missing feature?

[2018-09-06 08:32] arankhem opened #64 "unable to install nise version 1.4.4"
When i am trying to install nise version 1.4.4 i am getting the below error
**Tried commands**
npm install -g nise
npm install -g nise@1.4.4

**Error**
npm ERR! code ETARGET
npm ERR! notarget No matching version found for just-extend@^3.0.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget

But w

[2018-09-06 08:34] arankhem commented on #64
@mroderick, can you help here please

[2018-09-06 08:36] mroderick commented on #64
Please see my response to the other issue you created: https://github.com/sinonjs/sinon/issues/1894#issuecomment-419009779

[2018-09-06 08:36] #64 closed

[2018-09-06 19:55] fatso83 commented on #64
Like Morgan said elsewhere, please don't ping people for stuff like this. It's demanding and not welcome. We see the issues as they come in, and unless you are explicitly paying us per the hour, you can fix stuff yourself and send us the PR.

Just extend was [released in version 3 over three weeks ago](https://www.npmjs.com/package/just-extend) (you can also see our changelog). You could also do t

[2018-09-07 05:00] arankhem commented on #64
ok sorry for that..

[2018-10-07 13:17] gms1 opened #66 "unmaintained 'text-encoding'"
the dependency 'text-encoding' of 'nise' is no longer maintained:

[code]

[2018-10-07 13:44] mroderick commented on #66
Thank you for the heads up.

I guess we'll have find a suitable replacement, or incorporate parts of the original work into this repository.

[2018-10-10 11:03] fatso83 opened #68 "Tests are not executing in a browser"
Given that this is the only `sinonjs/*` library that exclusively deals with browsers, it's perplexing that it's the only one _not_ running tests in a browser :open_mouth: That makes it hard to verify run-time issues in browsers, such as #61 (and the fix in #67).

We should add `mochito` (running Puppeteer) like in the other projects.

[2018-10-13 20:39] #59 closed

[2018-10-14 19:40] fatso83 commented on #68
Closed by the generous @sebcanonica in #69 :-)

[2018-10-14 19:40] #68 closed

[2018-10-14 19:40] fatso83 commented on #61
Closed by #67

[2018-10-14 19:40] #61 closed

[2018-10-28 02:33] timpur opened #70 "Bind to different Window context?"
Wondering if it is posable to bind this library to use a different window / global context programatically ?

Experimenting with PollyJs and CypressJs. Need to bind this lib to a different window to get this to work.

Happy to fo the work needed, just wondering if this is something this lib will embrace?

Thx

[2018-10-28 07:40] mroderick commented on #70
The description doesn't give much detail. What do you want to accomplish, that is not currently possible?

[2018-10-31 06:54] serbanghita opened #71 "Wait for mocked XHR to fulfil all requests"
I'm having the following situation:

[code]

There are two ajax requests nested but not chained to one another.
I'm using Sinon.js (which uses nise).

I have **no way of waiting for the second request** to fulfil unless I chain the Promise which is something I cannot do without breaking compatibility (let's assume that it cannot be done).

[code]

I tried both strategies with `respondImmediately`

[2018-10-31 10:39] fatso83 commented on #71
This is like `lolex`'s `runAllTimers`. Seems like a nice addition?

P.S. For `reloadApp().then((r1) ...` to work your `reloadApp` function needs to return something.

[2018-10-31 12:48] serbanghita commented on #71
@fatso83 thanks for pointing that out. I can make a PR, i'm trying to understand how to test this in isolation and in the cotext of Sinon afterwards. I want the `timeout` property to be dictated from the frameworks timeout settings.

On `reloadApp`, I didn't care about testing the return value of that, the use case is more about "waiting for all the XHRs to finish"

[2018-10-31 14:57] fatso83 commented on #71
There's too many unclear things you refer to for me to understand what you talk about.

**Which `timeout` property are you talking about?**
The [`autoRespondAfter` timeout](https://sinonjs.github.io/nise/)? Or the `timeout` _parameter_ in your example function `waitForServerToFulfillRequests`?

**Which framework are you talking about?**
The testing framework? If so, please don't. We don't want tes

[2018-11-07 08:48] serbanghita commented on #71
@fatso83 I'll try to clarify:

**On `timeout` property that `waitForServerToFulfillRequests` uses.**

My original goal was to have a way to stop the `setInterval` checks.
The scenario in my mind was: the tests have failed (eg. 2000 ms passed) and I still do the checks, I want to stop. Testing frameworks allow tests to run even if one failed so I don't want to leave this check in the background.

I

[2018-11-08 19:39] intervalia opened #73 "Out of Date dependencies."
Can you please update all of your dependencies to resolve some security issues?

* just-extend should go from 3.0.0 to 4.0.2
* lolex should go from 2.7.5 to 3.0.0
* path-to-regexp should go from 1.7.0 to the latest 2.4.0
* text-encoding should be completely replaced or, at least, be moved from 0.6.4 to 0.7.0

[2018-11-11 08:02] mroderick commented on #73
There are no known vulnerabilities in the dependencies that are installed with with current version.

[2018-11-11 08:02] #73 closed

[2018-11-14 02:32] timpur commented on #70
@mroderick, any questions?

[2018-11-16 23:45] intervalia commented on #73
`text-encoding` is deprecated

[2018-11-17 13:47] mroderick commented on #73
It still does the job and has no security warnings against it. Do you know of any other packages that polyfill the missing APIs?

[2018-11-18 08:02] timpur commented on #70
Yeah, it makes sense that you can pick which window you bind to, especially in a testing use case like mine :), Thanks @mroderick.

So if i create a pr related to this you guys would be interested ?

[2018-11-18 08:02] mroderick commented on #70
Absolutely 👍

[2018-11-29 17:37] flovogt opened #75 "General question: Nise vs Sinon.JS fakeserver"
Hi team,
I've some general questions to this project which I can not answer by the documentation.
What is the way to go to use fakeServer in a JS project. Should I use sinon.js fakeserver or nise?
Is there a future roadmap to remove fakeServer from Sinon.js?
Thanks a lot for your work! FakeServer helped me so lot.

[2018-11-29 22:48] mantoni commented on #75
Sinon.JS will always be the “full package”. We started an effort to modularize Sinon in case you don’t want to use everything. For example, other test frameworks can use only the fake timers (lolex) or only the fake server (nise). There are no plans to remove these modules from Sinon.

[2018-11-29 22:49] #75 closed

[2018-11-30 07:43] flovogt commented on #75
Thanks a lot for this clarification. Would be nice to have this poitn mentioned in the readme or in the documentation.

[2018-12-05 22:55] soodsagar commented on #66
This is still an issue :/

[2018-12-08 10:12] mroderick commented on #75
Thank you for your feedback. All the `@sinonjs/*` projects are run by volunteers and rely on contributions from the community to move things forwards. Would you like to contribute a pull request to the README / documentation to make this clearer?

[2018-12-09 15:15] mroderick opened #77 "Publish as @sinonjs/nise"
This package should be published as `@sinonjs/nise`, and the existing package deprecated.

[2018-12-10 23:19] fatso83 commented on #66
Could we include it under our umbrella of projects?

[2018-12-12 10:10] mroderick commented on #66
If we can talk the owner of the repository and npm to transfer ownership, then I guess we can.

[2018-12-12 11:00] mantoni commented on #66
Alternatively we can publish a fork under the `@sinonjs` namespace.

[2018-12-14 17:49] mroderick commented on #66
Let's just do that

[2018-12-23 16:41] MichaelDeBoey commented on #66
Any news on this one?

[2018-12-28 18:13] gms1 commented on #66
This API is available in Node.js 8.x and this polyfill is only needed to support older versions.
So I would suggest copying the file from here
https://github.com/inexorabletash/text-encoding/blob/master/lib/encoding.js
and use either the shim or the internal API depending on the node version

[2019-01-02 08:42] mroderick commented on #66
... and browsers.

All the Sinon projects support IE11 and Edge.

https://caniuse.com/#search=TextEncoder

[2019-01-02 11:49] gms1 commented on #66
is not a problem or is it?
[code]

[2019-01-06 21:43] fatso83 commented on #71
This has a PR that's waiting review.

[2019-01-19 12:37] timpur commented on #70
hmm never got around to doing coding this up ...

[2019-02-12 00:36] hueniverse commented on #66
Any update on this? Anything I can do to help?

[2019-02-14 23:38] JustinBeckwith opened #81 "Configure greenkeeper to keep deps up to date"
This repository has a lot of old deps, with many security vulnz.  It would be great to install [greenkeeper](https://greenkeeper.io/) so we get PRs with updates.  If you'd like getting this rolling - I'm interested in helping as a maintainer of the lib.

[2019-02-18 10:39] fatso83 commented on #66
@hueniverse Just supply a PR with that copies the file into the repo and `require` it on demand - something like @gms1 suggested. Easy peasy.

[2019-02-18 13:24] #66 closed

[2019-02-18 14:32] damien-gl opened #83 "Error: Cannot find module 'text-encoding'"
Hello,

Since the latest release `1.4.9` I'm getting the following error:
[code]

Apparently the fix is already committed but not yet released:
https://github.com/sinonjs/nise/commit/fb3b595c0bd5b9ef8282c156f3320b2b345cd918

Any plan to release it quickly?
Many thanks!

[2019-02-18 14:48] #83 closed

[2019-02-18 14:49] fatso83 commented on #83
This was pushed a bit before your issue, as 1.4.10

[2019-02-18 14:51] fatso83 commented on #66
nise 1.4.10 and sinon 7.2.4

[2019-02-27 10:21] mroderick commented on #70
There's still time :)

[2019-04-16 01:29] JustinBeckwith commented on #81
Greetings!  Gentle ping :)

[2019-04-16 12:42] fatso83 commented on #81
I wouldn't worry to much about the perceived security threat of a test library, but its of course good to get rid of the `npm audit` noise. That being said, I remember using Greenkeeper on other Sinon projects (are we still?) and I thought it was a lot of noise for little gain.

[2019-04-16 12:43] fatso83 commented on #77
Which steps are needed? Can I just change the package.json name and publish?

[2019-04-28 22:21] #70 closed

[2019-06-04 18:40] fatso83 commented on #81
@JustinBeckwith Sorry to keep you hanging - I kind of forgot about the second part of your question, concerning maintaining. The maintainer part also concerns looking into issues, answering questions - sending people over to StackOverflow if it's not a bug, reviewing PRs, etc., not just keeping dependencies up to date :-) Would you be interested in donating some time to that?

[2019-06-04 18:41] fatso83 commented on #81
Greenkeeper is fine, btw, but as you can tell, we are kind of swamped on time, so more pings about not-that-important Greenkeeper updates isn't always what we crave for. But if someone can tend to the baby, then it's another matter.

[2019-06-04 20:06] mantoni commented on #81
I have activated automatic security fixes on GitHub for this repo. Should be less noisy since it’s „only“ about security issues.

[2019-06-04 20:22] fatso83 commented on #81
@mantoni Using Greenkeeper or something else? And some time ago or just now? Because there were some audits in the "High" risk category.

[2019-06-04 20:27] mantoni commented on #81
Just now, not Greenkeeper, but the new GitHub feature. I enabled it on the Sinon project as well last week.

[2019-06-04 22:06] #81 closed

[2019-06-05 01:12] JustinBeckwith commented on #81
@fatso83 awesome!  I'd be more than happy to help with the other maintainy bits as well.  We use this and sinon all over the place, so we may as well do our part :)

[2019-06-24 16:40] tym-network opened #89 "readystatechange OPENED event triggered on send()"
Hi there!

I noticed that nise is sending the readystatechange event with an "OPENED" readystate when calling the `xhr.send()` function, while the native XHR doesn't.

As it's pretty hard to explain, here is an example of what the native XHR triggers and what nise does: https://jsfiddle.net/1djoqatw/2/

We can see that nise triggers an "OPENED" event for both `xhr.open()` and `xhr.send()`, while t

[2019-06-24 23:26] fatso83 commented on #89
I remember @fearphage doing a lot of nitty-gritty detailed XHR compliancy work some time ago. He might know. But we are all volunteering our time, so you might have better luck (or a faster path to the answer) by doing some code archeology on the code in question, along with the tests for that feature:
- use Git blame on the file
- if a newer commit hides the original change, go the the parent and

[2019-06-24 23:28] fatso83 commented on #89
Relevant reading:
- https://xhr.spec.whatwg.org/#the-open()-method
- https://xhr.spec.whatwg.org/#the-send()-method

You might discover that we do what's right - or possibly not :)

[2019-06-25 08:09] tym-network commented on #89
Thank you @fatso83 for your blazing fast answer!

So I digged a bit into the code as you told me and I had the pleasure to travel in time through the git history :)
It looks like the "OPENED" readystatechange in `send()` has been there since the first implementation of XHR in Sinon (May 2010). Here's the commit linked to it: https://github.com/sinonjs/sinon/commit/6ebef56dc87f5a252d445965a4f8e81d5

[2019-06-25 10:19] fatso83 commented on #89
Seems like a very well researched proposal! Looks like the right change to me, although I'm no expert, so if anyone would supply a PR it has a pretty good chance of being part of a next major release ;-)

[2019-06-25 16:07] fearphage commented on #89
The problem may be able to be simplified into we're firing `readystateCHANGE` events when the ready state has in fact **not** changed. I'm able to replicate this from the test case above.

I believe I've fixed this before (in SInon). I'll investigate.

[2019-08-21 14:03] mroderick commented on #77
1. Change the name in package.json to `@sinonjs/nise`
1. `npm publish --access public`
1. Commit your changes
1. `git push origin master --follow-tags` (to ensure that your changes and any tags are in GitHub)
1. Use [`npm deprecate`](https://docs.npmjs.com/cli/deprecate) to deprecate the old package. Be kind and point to `@sinonjs/nise` as the replacement package.

[2019-08-21 15:01] mantoni commented on #77
Maybe we should make a major release first, and then deprecate that major. This would cause the warning to be shown when someone installs the package freshly, but doesn't add noise to builds that are already using an older version.

[2019-08-25 18:53] fatso83 commented on #89
@fearphage Did you get anywhere in your investigation?

[2019-08-27 21:34] #89 closed

[2019-08-28 14:36] mroderick commented on #89
This has been fixed in `nise@1.5.2`

[2019-11-02 16:41] flatiron32 opened #109 "FakeXHR and Event Targets"
The test below fails for me, but I think it should work. It is possible that i don't correctly understand what i am doing.
I think that FakeXMLHttpRequest.dispatchEvent ought to set the target of the event, but it does not.

[code]

[2019-11-05 20:16] HarshaNalluru opened #110 "Rollup throws warnings about `nise` complaining the usage of `eval`"
**Rollup bundler complains the usage of `eval` as it poses a security risk.**
https://rollupjs.org/guide/en/#avoiding-eval

Screenshot of the error is as follows.
![image](https://user-images.githubusercontent.com/10452642/68241105-ef988800-ffc2-11e9-82cd-21d45f9a3d57.png)

**Related issues -**
ionic-team/ionic-app-scripts#129
https://github.com/ionic-team/ionic-cli/issues/1500
https://github.com/

[2019-11-06 00:48] mantoni commented on #110
Lolex uses `eval` to execute something like `setTimeout('console.log("hi")', 100)`. However, this isn't valid in Node, and I tested Safari and Chrome and they fail with `Refused to execute a script because 'unsafe-eval' does not appear in the script-src directive of the Content Security Policy.`.

It seems to be a very old legacy feature and I vote for removing it.

[2019-11-28 22:11] mantoni commented on #77
Just a thought: We could also publish nise as `@sinonjs/xhr` and lolex could become `@sinonjs/clock`. Less sexy, but more obvious.

[2019-12-27 10:26] itchyny opened #123 "TypeError: GlobalTextEncoder is not a constructor"
We use sinon with [jsdom](https://github.com/jsdom/jsdom) and recently updated sinon to 8.0.1 and starts to fail with
[code]
jsdom does not implement TextEncoder ([ref](https://github.com/jsdom/jsdom/issues/2524)) and in ./node_modules/nise/nise.js `@sinonjs/text-encoding` is embed as empty module.

[code]

I expect nise loads sinonjs/text-encoding properly. How can I use sinon with jsdom?

[2019-12-27 10:36] itchyny commented on #123
For comparison, when I use sinon 7.5.0 (with nise 1.5.2), `sinonjs/text-encoding` is apparently not empty
[code]
[code]
I suspect the browser key in package.json but I have no clue why it is related.

[2019-12-27 11:06] mroderick commented on #123
@mantoni could this be caused by something exotic in the browserify setup in Sinon?

[2019-12-27 11:40] mantoni commented on #123
Yes, I'm pretty sure this is caused by the `browser` key in `package.json`:

https://github.com/sinonjs/nise/blob/76fe10ccd3dc867f03ce942d1e5a8c72822003e8/package.json#L28-L32

I introduced it [in this PR](https://github.com/sinonjs/nise/commit/0a81369a9283c28fd9392a5ce4b88b1ca6e2d38c) assuming that all browsers implement it. I wasn't aware that JSDom doesn't support it.

We feature detect support

[2019-12-30 14:53] #123 closed

[2019-12-30 16:01] itchyny commented on #123
I confirmed the fix in our project. Thank you.

[2020-01-02 11:58] fatso83 commented on #109
Maybe you are able to dig up something a bit more definitive in the specs?  https://xhr.spec.whatwg.org/#event-handlers

[2020-01-05 13:43] mroderick commented on #110
I think that's a good idea.

However, cutting that out is backwards incompatible and would trigger a major release.

Somewhere else, you suggested that we re-release `lolex` as `@sinonjs/clock`, which I am in favour of. We could make the change in a fresh major version released as the first version of `@sinonjs/clock`.

I think that adopting the new major version of `@sinonjs/clock` in `sinon` sho

[2020-01-06 08:11] mantoni commented on #110
I agree 👍

[2020-03-03 20:05] fatso83 commented on #109
OK, looked into this, and while you are right about what it should do, to me it seems like it already does! Here is a full repro showing that the test does not fail: https://runkit.com/fatso83/nise-109

That is using JSDOM, mind you. Which browser are you seeing any errors in?

[2020-03-03 20:08] fatso83 commented on #109
These are the references I asked for, btw:
- 2.7 https://dom.spec.whatwg.org/#interface-eventtarget
- 2.9 https://dom.spec.whatwg.org/#dispatching-events

And they basically just verify what you said. `target` should be set.

[2020-03-04 16:52] flatiron32 commented on #109
This was in a unit test environment setup by jest with `testEnvironment: 'jest-environment-jsdom-global'` set. I would expect that to behave the same as your test. I might need to dig some more. Thank you.

[2020-03-07 11:58] fatso83 commented on #109
Jest is using JSDOM under the covers, AFAIK, so it _should_ do the same. I don't know if version differences should mean anything. Please report back if you do find out - bug or not :)

[2020-03-12 20:41] davidjohnbell opened #148 "[HELP] can't respond to xhr: INVALID_STATE_ERR - 4"
Im writing a chrome extension that is essentially a proxy. I'm getting an invalid state error when trying to respond to a fake xhr request. When the `proxyRequest` method executes I'm seeing in the console that `onload` is triggered before I call `respond`. Thank you in advance for any help.
[code]

[2020-03-13 10:10] fatso83 commented on #148
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with S

[2020-03-13 10:10] #148 closed

[2020-03-23 10:50] fatso83 opened #149 "Expose a way of choosing an alternate target"
As https://github.com/sinonjs/sinon/issues/2218#issuecomment-601004446 showed, we have a bit of a feature disparity between this project and the fake timers: When using projects such as JSDOM it would be useful to explicitly state which target we want to install the fake XHR into to avoid issues such as the one in #2218, where the "global detection" will fail tests in "mixed environments", such as

[2020-03-23 11:00] fatso83 commented on #110
Moved to https://github.com/sinonjs/fake-timers/issues/319. Super easy fix for anyone that wants to contribute ...

[2020-03-23 11:00] #110 closed

[2020-04-06 08:33] pswai opened #159 ""Defaked" fake XHR does not propagate properties to actual XHR after triggering `open`"
Related to #49.

Minimal repro: https://github.com/pswai/nise-defake-issue

Considering this case:
[code]

`xhr.send()` calls [the `send` function](https://github.com/sinonjs/nise/blob/master/lib/fake-xhr/index.js#L256) defined in the `defake` function. Since `defake` is called during `open`, any modification to the fake XHR does not reflect on the actual XHR. In this example, if we put a breakpoi

[2020-04-06 09:00] fatso83 commented on #159
Excellent research. Both of your suggestions are valid, but since we are trying to support browsers as old as IE11, I assume that means `Proxy` is a no-go. Copying attributes manually seems pretty straightforward and easy to implement.

[2020-04-09 11:14] Beraliv opened #160 "Timeout isn't working as expected"
**Expected behaviour**:

1. `xhr.ontimeout` is called after `xhr.timeout`
2. `xhr.triggerTimeout` is called after `xhr.timeout`

**Actual behaviour**:

1. `xhr.ontimeout` is NOT called after `xhr.timeout`
2. `xhr.triggerTimeout` is NOT called after `xhr.timeout`

**Code**:

[code]

**Additional data**

1. Versions:
  * `"nise": "1.4.3",`
  * `"chai": "4.2.0",`
  * `"@types/chai": "4.1.7",`
2. Migh

[2020-04-15 03:59] pswai commented on #159
@fatso83 I took a deeper look at this, we might need to do `copyAttrs` for other methods as well. That can be done by putting `copyAttrs` [here](https://github.com/sinonjs/nise/blob/master/lib/fake-xhr/index.js#L252). Actually not sure the methods here need to have the updated attrs or not :D

Meanwhile I just discovered https://github.com/GoogleChrome/proxy-polyfill, it can potentially change how

[2020-04-27 07:06] Beraliv commented on #160
@mroderick can you please have a look at it? Is it expected?

[2020-04-29 02:24] codejedi365 opened #161 "URLs with port fail to match & respond on fake-server"
When registering a response with a fake-server instance and the URL specifies port number, the corresponding requests receive a HTTP 404 Not Found error even though the URLs match.

**Error Reproduction:**
[code]
**Expected behavior:** HTTP 200 OK, "Pong"

**Context**
This error comes up when testing a Vue.js app which is a Web UI that is communicating back to a API server.  The API server is runn

[2020-04-29 02:54] codejedi365 opened #162 "URLs with specified ports override/match responses of different ports"
When registering multiple URLs with similar hostnames and the same pathname (or root) but different port numbers, the fake server will match and respond with only the url & corresponding reply which was last registered.

**Error Reproduction:**
[code]
**Expected behavior:** HTTP 200 OK, "Pong"

**Context**
This error comes up when testing a Vue.js app which is a Web UI that is communicating back t

[2020-05-01 09:29] fatso83 commented on #160
@Beraliv Could you do a quick inquiry into the test suite by grepping after "timeout" and see if there is test code that tries to document how this is supposed to work?

[2020-05-13 12:16] #109 closed

[2020-05-14 10:05] Beraliv commented on #160
I will check this week, sorry for the delay

[2020-05-29 10:32] Beraliv commented on #160
Still there was no time for that
Hope I will get to that next week

[2020-05-30 08:07] #149 closed

[2020-06-16 14:52] carlisliu opened #165 "`readystatechange` event should not be triggered after `loadend`"
[code]
output:
![image](https://user-images.githubusercontent.com/2157653/84789441-d1980900-b022-11ea-97a6-2bf65bb875fa.png)

when using stardard XMLHttpRequest the same way
[code]

output:
![image](https://user-images.githubusercontent.com/2157653/84789639-0b690f80-b023-11ea-8703-83f5225f5262.png)

this is imcompatible with some network lib(like [`natty-fetch`](https://www.npmjs.com/package/natty

[2020-06-26 08:19] #161 closed

[2020-06-26 08:19] #162 closed

[2020-07-31 11:14] mroderick commented on #160
I've pinned this, hoping there will be updates to clarify this one way or the other.

[2020-08-05 19:00] Beraliv commented on #160
@fatso83 sorry for the late response

Let me explain what I meant.

1. I expected that timeout is supported https://github.com/sinonjs/nise/blob/fd08db8fcc59900c531d317bed92ae99be1bacc6/lib/fake-xhr/index.test.js#L343
2. After setting the timeout, I would like to hold the response longer to trigger the timeout callback - https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/timeout#Examp

[2020-08-06 10:16] mhterres opened #169 "text-encoding dependency is not available anymore"
Hello.

wget https://registry.npmjs.org/@sinonjs/text-encoding/-/text-encoding-0.7.1.tgz
--2020-08-06 11:16:05--  https://registry.npmjs.org/@sinonjs/text-encoding/-/text-encoding-0.7.1.tgz
Resolving registry.npmjs.org (registry.npmjs.org)... 104.16.23.35, 104.16.17.35, 104.16.22.35, ...
Connecting to registry.npmjs.org (registry.npmjs.org)|104.16.23.35|:443... connected.
HTTP request sent, awaiti

[2020-08-10 07:46] mantoni commented on #169
Apparently an npm glitch. The files are loading fine again.

[2020-08-10 07:46] #169 closed

[2020-09-29 22:38] Beraliv commented on #160
@mroderick should I specify anything that can help?

[2020-09-30 13:12] mroderick commented on #160
I'll leave it to @fatso83 to figure out :)

[2020-09-30 20:24] fatso83 commented on #160
@Beraliv I don't really have much time for open source work these days, so I would not be expecting much from me. In any case, the `nise` source code is just a few hundred lines, so it's faster to scroll through it yourself, than waiting for us to re-read it :smile_cat: I used 20 minutes or so anyway tonight to look at this and had a look at the PR you linked to, which I seemed to have merged thre

[2020-09-30 20:24] #160 closed

[2021-01-12 18:56] mroderick opened #173 "Experiment: Create `.d.ts` files from JSDOc"
In order to better support the TypeScript community and have excellent API documentation, we would like to have great JSDoc comments for this library.

From the JSDoc comments we can extract `.d.ts` files, which will improve the experience of TypeScript users.

See https://github.com/sinonjs/fake-timers/pull/345

---

However, we are using a construction that is yet unsupported by TypeScript: http

[2021-02-25 21:48] jeremymeng opened #177 "Error when setting unsafe headers"
We have code that works in live mode using xhr, but fails using mock.

https://github.com/sinonjs/nise/blob/805200b70084b1c19569ad0c04158da7bf5eed0c/lib/fake-xhr/index.js#L590

according to [the spec](https://fetch.spec.whatwg.org/#forbidden-header-name), setting/deleting a forbidden header should be a no-op

![image](https://user-images.githubusercontent.com/7583839/109223834-fd51be00-776f-11eb-9

[2021-02-26 08:05] mroderick commented on #177
That's the spec for `fetch`. This library does not deal with `fetch`.

What is expected to happend for `XHR`?

[2021-02-26 12:23] fatso83 commented on #177
@mroderick [The spec for XHR says pretty much the same thing](https://xhr.spec.whatwg.org/#dom-xmlhttprequest-setrequestheader).

<ol>
    <li>
     <p>If <a data-link-type="dfn" href="https://heycam.github.io/webidl/#this" id="ref-for-this①⑧">this</a>’s <a data-link-type="dfn" href="#concept-xmlhttprequest-state" id="ref-for-concept-xmlhttprequest-state⑥">state</a> is not <i>opened</i>, then <a d

[2021-05-13 23:48] codejedi365 commented on #165
I believe I have isolated where this issue occurs during my investigation detailed in my PR #183.  My PR does not resolve this issue but was a side effect related to this issue.  The `respond()` function of `nise/lib/fake-xhr/index.js` line 799 provides a few function calls which call `this.setResponseBody()` and `setResponseBody()` is the culprit who dispatches the last readystatechange event aft

[2021-05-20 15:43] codejedi365 opened #186 "[Docs] Should docs be updated or removed?"
sinonjs/nise team,

I recently opened PR [#2365](https://github.com/sinonjs/sinon/pull/2365) to the main sinonjs/sinon repository which I suspect are the docs for the main website https://sinonjs.org.  I noticed you use an automated framework for building the website through the release-source folder so I modified those files to describe sinonjs/nise usage.

On the contrary, I also found in this r

[2021-05-21 15:29] #165 closed

[2021-05-25 08:02] fatso83 commented on #186
Hi, @codejedi365 . Appreciate all your recent efforts! Keeping the subprojects and the main project in sync is a pain point. We are well aware of this, but someone needs to make a directed effort at pushing https://github.com/sinonjs/sinon/issues/1651 forward. We are talking about this internally, since this issue has barely moved an inch in the three years since it opened.

I think you find your

[2021-06-23 06:53] hornta opened #189 "Is there a way to catch non-mocked responses?"
I've setup my test suite to mock every response my application performs to our REST API but I feel like it's common to forget to mock some API:s so I would want a way for our tests to fail when a non-mocked API is called upon. Is something like that possible with nise/sinon?

[2021-06-23 07:50] fatso83 commented on #189
Not that I can think of immediately, but this is kind of like a catch-all if no other. Would be interesting to have this feature. Can you have a little browse of the (not very big) source code and see if the match code can be made to do this? Maybe it can accept a function or something.

[2021-06-23 09:47] hornta commented on #189
The fakeserver can take a catch-all response but it doesn't help me being able to throw when that response is matched. I tend to use https://mswjs.io/ in other projects so inspiration can be taken from there https://mswjs.io/docs/recipes/debugging-uncaught-requests

Maybe the fakeserver can emit an event like "onUnhandledRequest"?

[2021-08-12 21:17] drzraf commented on #148
I think there is a clear lack of documentation.
If `xhr.error()` is used, one could thing of an HTTP error, but the fact is that the **client** xhr object is changed in such a way that any further request to that `server` will trigger this error.
This is unexpected and most people testing a timeout followed by a connection success (and using `.error()` to simulate the timeout) will encounter this.

[2021-08-13 05:37] fatso83 commented on #148
@drzraf You are probably right that we could need some improved docs! If you feel like getting it done, we do accept pull requests 👍 The docs are [automatically generated from the repo](https://github.com/sinonjs/nise/edit/master/docs/index.md).

In this case, I think it's quite clear [what this does from the docs](https://sinonjs.github.io/nise/#requesterror).

A network error is just that: an er

[2021-08-13 12:28] drzraf commented on #148
Yes, but the problem I (and possibly OP) experience, is that we can't use the fake-server afterwards. Sending a `new XMLHttpRequest` will (likely?) provoke an `INVALID_STATE_ERR` failure (`0` in my case). This is not documented, I ignore the reason of this behavior and whether it's a bug or not.

[2021-08-13 12:59] fatso83 commented on #148
Ah, good point! I did not get that it made the server unusable for the following requests. That both needs documenting and/or potentially a fix. Would you care to create a feature request describing the manner in which you think this _should_ work? Perhaps with an example use case that does not work today.

[2021-10-21 22:31] HarelM commented on #173
Any update on this?
the typing there are better than the types in sinon as I see the `lastRequst` that is not documented in sinon typings.
But I don't see the `aborted` property for the `FakeXMLHttpRequest` interface.
Maintaining this is two repositories is not geart.
It would be extremely cool to have the file here and allow PR to this repo.
DefinitelyTyped repo is too big and I don't think can h

[2022-01-31 21:25] msluther opened #193 "`TypeError: performance.mark is not a function` on node@16"
There was an issue with `@sinonjs/fake-timers` here: https://github.com/sinonjs/fake-timers/issues/394

That was fixed and published in `sinon@13`. However, even with `sinon@13` I am still hitting this issue due to the `nise` library consuming an older version of fake-timers.

[code]

Can we update the dependency here and publish a new version (along with a publish consuming that from the root `si

[2022-01-31 21:32] fatso83 commented on #193
Ooooh, good catch. But why is nise importing fake-timers? 🤔

[2022-01-31 21:35] msluther commented on #193
I grabbed a stack trace while I was in there:

[code]

[2022-02-01 14:40] #193 closed

[2022-03-16 19:49] kaikiai opened #194 "responseType=document only supports XML not HTML"
I discovered a problem with responseType='document' in FakeXHR.
When using responseType in browser it is usable with XML and with HTML.

FakeXHR only works with XML
[code]
should also be usable with content-type='text/html' and then not parsing with XML but instead use a parser with text/html as mime-type